.gridContainer {
  display: grid;
  list-style: none;
}

.container {
  box-sizing: content-box;
  border: var(--main-border);
  background: var(--secondary-color);
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageWrapper {
  box-shadow: var(--main-shadow);
  border: var(--main-border);
}

.imageWrapper:active {
  transform: scale(0.9);
}

.projectContent {
  padding: 5%;
  border: var(--main-border);
  background: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 768px;
}

.techStack {
  list-style: none;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.links {
  display: flex;
  gap: 10px;
}

@media (min-width: 768px) {
  .gridContainer {
    grid-template-column: 1fr 1fr;
  }

  .container {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .projectContent {
    grid-column: 2/3;
    grid-row: 1/2;
  }
}

@media (min-width: 1200px) {
  .projectContent {
    font-size: 2rem;
    justify-content: center;
  }
}
