.gridContainer {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  list-style: none;
}

.gridContainer > div {
  position: relative;
}

.imageWrapper {
  grid-area: 1/3/-1/13;
  align-self: center;
  z-index: 1;
}

.imageWrapper:active {
  padding: 1%;
}

@media (hover: hover) {
  .imageWrapper:hover {
    opacity: 0.8;
    transition: opacity 0.5s ease-out;
  }
}

.projectContent {
  grid-area: 1/6/-1/15;
  align-self: center;
  text-align: right;
  z-index: 2;
}
.title {
  color: var(--second-bg-heading);
}

.projectDescription {
  margin-top: 1rem;
}

.techStack {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
  color: var(--second-sub-headline);
}

.links {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
}

.linkItems {
  margin-left: 5rem;
  transform: scale(2);
  color: var(--second-sub-headline);
  margin-right: 1rem;
}

.linkItems:active {
  padding: 2%;
}

.techs {
  list-style: none;
  margin-left: 1rem;
}

@media (max-width: 1200px) {
  .imageWrapper {
    opacity: 0.9;
    grid-column: 1/14;
  }
  .projectContent {
    transform: scale(0.9);
    grid-column: 7/17;
  }
}

@media (max-width: 768px) {
  .imageWrapper {
    opacity: 0.25;
    grid-column: 1/-1;
  }

  .image {
    border-radius: 10px;
  }

  .projectContent {
    grid-column: 1/-1;
    font-size: 1.5rem;
    text-align: left;
    align-self: center;
  }

  .title {
    padding: 0 3%;
    margin-bottom: 5%;
  }

  .projectDescription {
    margin: 3% 0;
    border-radius: 0;
    background-color: transparent;
    padding: 0 3%;
  }

  .techStack {
    justify-content: flex-start;
    padding: 0 3%;
    margin: 3% 0;
  }

  .techs {
    margin-right: 5%;
    margin-left: 0;
    margin-top: 0;
  }

  .links {
    padding: 0 10%;
    margin: 6% 0;
    display: flex;
    justify-content: space-around;
  }

  .linkItems {
    margin-right: 0;
    margin-left: 0;
    transform: scale(2);
  }
}

@media (max-width: 600px) {
  .projectContent {
    transform: scale(0.8);
  }
}

@media (max-width: 480px) {
  .projectContent {
    font-size: 1rem;
  }
}
