.footerSection {
  display: flex;
  height: 50vh;
  justify-content: center;
  align-items: center;
}
.container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 50%;
}
.header {
  color: var(--main-headline);
}

.links {
  margin-top: 1%;
}

@media (hover: hover) {
  .header:hover {
    color: var(--main-paragraph);
  }
}

@media (max-width: 768px) {
  .header {
    font-size: 1.5rem;
  }
}
