.footerSection {
  display: flex;
  height: 25vh;
  padding: 5% 5% 20%;
  justify-content: center;
  align-items: center;
  background-color: var(--quarternary-color);
  border-top: var(--main-border);
}
.container {
  display: flex;
  flex-direction: column;
  row-gap: 50%;
  width: 100%;
  gap: 15px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .footerSection {
    height: 15vh;
    padding: 5% 5% 10%;
  }
}

@media (min-width: 1200px) {
  .footerSection {
    padding: 5%;
  }
}
