.otherProjectsContainer {
  display: flex;
  flex-direction: column;
  padding: 5%;
  gap: 20px;
}

@media (min-width: 400px) {
  .otherProjectsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5% 5% 10%;
  }
}

@media (min-width: 768px) {
  .otherProjectsContainer {
    grid-template-columns: repeat(3, 1fr);
    padding: 5%;
  }
}
