.title,
.subTitle,
.email,
.email input,
.password input,
.password {
  font-family: "Raleway";
  color: var(--text);
  font-weight: bold;
  font-size: 2rem;
}

.email label,
.password label {
  color: var(--text);
  opacity: 0.9;
}

.modalButtons {
  font-size: 1rem;
  padding: 2.5% 3%;
  background-color: transparent;
}

@media (hover: hover) {
  .modalButtons:hover {
    background-color: transparent;
  }
}
