.title,
.subTitle,
.email,
.email input,
.email label,
.password input,
.password label,
.password {
  font-family: "Raleway";
  color: var(--text);
  font-weight: bold;
}

.modalButtons {
  font-size: 1rem;
  padding: 5% 7%;
  background-color: transparent;
}

@media (hover: hover) {
  .modalButtons:hover {
    background-color: transparent;
  }
}
