.blogContainer {
  padding: 10% 12%;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.blogContainer h1,
.timeStamp {
  font-size: 3rem;
}

.blogContainer p {
  font-size: 2.5rem;
}

.backButton {
  padding: 0.5% 1%;
}

.backButton:active {
  padding: 0.4% 0.9%;
}

.blogTitle {
  margin-top: 5%;
}

.blogContent {
  display: flex;
  flex-direction: column;
  margin-top: 3%;
  gap: 10px;
  min-height: 60vh;
}

.imageContainer {
  border: var(--main-border);
  box-shadow: var(--main-shadow);
  margin-bottom: 5%;
}

.paragraph {
  margin-top: 5%;
  font-size: 2rem;
}

.timeStamp {
  margin-top: 1%;
}

.unauthorized {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--main-color);
  align-items: center;
  text-align: center;
  justify-content: center;
  color: white;
  gap: 10%;
}

@media (max-width: 768px) {
  .blogContainer {
    padding-top: 15%;
  }
}

@media (max-width: 400px) {
  .blogContainer {
    padding-top: 20%;
  }
}

@media (min-width: 1200px) {
  .blogContainer {
    margin-top: 2%;
  }

  .imageContainer {
    margin-bottom: 0%;
  }
}
