.blogContainer {
  padding: 7% 12%;
  background-color: var(--secondary-color);
}

.backButton {
  padding: 0.5% 1%;
}

.backButton:active {
  padding: 0.4% 0.9%;
}

.blogTitle {
  margin-top: 5%;
}

.blogContent {
  display: flex;
  flex-direction: column;
  margin-top: 3%;
}

.paragraph {
  margin-top: 5%;
  font-size: 2rem;
}

.timeStamp {
  margin-top: 1%;
}

@media (max-width: 768px) {
  .blogContainer {
    padding-top: 15%;
  }
}

@media (max-width: 400px) {
  .blogContainer {
    padding-top: 20%;
  }
}
