.navIcon {
  position: fixed;
  bottom: 5rem;
  right: 4rem;
  transform: scale(2.5);
  background-color: white;
  box-shadow: 2px 2px black;
  border: var(--main-border);
  opacity: 1;
  cursor: pointer;
  transition: opacity 0.1s ease-out;
  z-index: 100;
}

.none {
  position: fixed;
  bottom: 5rem;
  right: 4rem;
  transform: scale(2.5);
  background-color: white;
  box-shadow: 2px 2px black;
  border: var(--main-border);
  cursor: pointer;
  z-index: 100;
  opacity: 0;
  transition: opacity 0.1s ease-out;
}
