.linkContainer {
  display: flex;
  color: var(--main-headline);
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.icon:active {
  padding: 10%;
}

@media (hover: hover) {
  .icon:hover {
    color: var(--main-paragraph);
  }
}
