.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--gradient);
  padding: 1% 12%;
  position: fixed;
  width: 100%;
  top: 0;
  transition: all 0.1s ease-out;
  z-index: 100;
  font-family: "ComicCat";
}

.navbarScrolling {
  top: -10rem;
  transition: all 0.1s ease-in;
}

.brandTitle {
  justify-self: center;
  font-size: 3rem;
  cursor: pointer;
  opacity: 0;
  animation: var(--animation-bounce) 1s ease-out forwards,
    var(--animation-reveal) 1s ease-out forwards;
}

.navIcon {
  right: 4rem;
  top: 3.75rem;
  display: none;
}

@media (max-width: 1200px) {
  .navbar {
    padding: 2% 12%;
  }

  .navIcon {
    display: flex;
    transform: scale(2);
    top: 2.5rem;
  }
}

@media (max-width: 768px) {
  .navbar {
    padding: 2.5rem 4rem;
  }

  .brandTitle {
    font-size: 2rem;
  }
}
