.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--main-color);
  padding: 20px 30px;
  width: 100%;
  border-bottom: var(--main-border);

  /* position: fixed;
  top: 0;
  transition: all 0.1s ease-out;
  z-index: 100; */
}

.navbarScrolling {
  top: -11rem;
  transition: all 0.1s ease-in;
}

.brandTitle {
  justify-self: center;
  font-size: 3rem;
}

.navIcon {
  display: flex;
  transform: scale(2);
  top: 2.5rem;
  background-color: white;
  border: var(--main-border);
  box-shadow: 1.5px 2px black;
}

@media (min-width: 768px) {
  .navbar {
    padding: 25px 50px;
  }

  .brandTitle {
    font-size: 4rem;
  }
}

@media (min-width: 1200px) {
  .navbar {
    padding: 25px 90px;
  }

  .navIcon {
    display: none;
  }
}

@media (min-width: 1440px) {
  .brandTitle {
    font-size: 5rem;
  }
}
