.menuList {
  height: 100%;
  font-size: 2rem;
}

.menuList ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.menuList li {
  list-style: none;
  transition: all 0.3s ease-in;
}

.menuList li a {
  text-decoration: none;
  padding: 1rem;
  display: block;
}

@media (hover: hover) {
  .menuList li:hover {
    background-color: var(--main-card-highlight);
    transform: scale(1.1);
    margin: 0 1rem;
    transition: all 0.3s ease-out;
  }

  .menuList li:active {
    transform: scale(0.9);
    transition: transform 0.01s ease-out;
  }
}

@media (max-width: 1200px) {
  .menuList {
    display: none;
    width: 100%;
    background-color: var(--main-card-bg);
    color: var(--main-card-paragraph);
    border-radius: 10px;
    margin-top: 2.5rem;
    text-align: center;
    padding-top: 1rem;
    padding: 1rem;
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;
  }

  .menuList ul {
    width: 100%;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
  }

  .menuList li {
    margin-top: 3rem;
  }

  .menuListActive {
    display: flex;
    position: absolute;
    width: 100%;
    top: 5rem;
    height: 110vh;
    z-index: 10;
    right: 0rem;
  }

  .menuList li:active {
    background-color: var(--card-highlight);
    margin: 0 1rem;
    border-radius: 10px;
    transform: scale(0.9);
    transition: all 0.01s ease-out;
  }

  @keyframes growDown {
    0% {
      transform: scaleY(0);
    }
    80% {
      transform: scaleY(1.1);
    }

    100% {
      transform: scaleY(1);
    }
  }
}

.bounceEffect {
  opacity: 0;
  animation: var(--animation-bounce) 1s ease-out forwards,
    var(--animation-reveal) 1s ease-out forwards;
}
.bounceEffect1 {
  opacity: 0;
  animation: var(--animation-bounce) 1s ease-out 0.25s forwards,
    var(--animation-reveal) 1s ease-out 0.25s forwards;
}
.bounceEffect2 {
  opacity: 0;
  animation: var(--animation-bounce) 1s ease-out 0.5s forwards,
    var(--animation-reveal) 1s ease-out 0.5s forwards;
}
.bounceEffect3 {
  opacity: 0;
  animation: var(--animation-bounce) 1s ease-out 0.75s forwards,
    var(--animation-reveal) 1s ease-out 0.75s forwards;
}
