.menuList {
  display: none;
  height: 100%;
  font-size: 2rem;
}

.menuList ul {
  margin: 0;
  padding: 7%;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 25px;
}

.menuList li {
  list-style: none;
  transition: all 0.3s ease-in;
  background-color: var(--secondary-color);
  border: 2px solid black;
  box-shadow: var(--main-shadow);
}

.menuList li a {
  text-decoration: none;
  padding: 1rem 3rem;
  display: block;
}

.menuListActive {
  display: flex;
  position: absolute;
  left: 0;
  top: 8.5rem;
  width: 99%;
  height: 100vh;
  background-color: var(--main-color);
  border: var(--main-border);
  box-shadow: var(--main-shadow);
}

.bounceEffect {
  opacity: 0;
  animation: var(--animation-bounce) 1s ease-out forwards,
    var(--animation-reveal) 1s ease-out forwards;
}
.bounceEffect1 {
  opacity: 0;
  animation: var(--animation-bounce) 1s ease-out 0.25s forwards,
    var(--animation-reveal) 1s ease-out 0.25s forwards;
}
.bounceEffect2 {
  opacity: 0;
  animation: var(--animation-bounce) 1s ease-out 0.5s forwards,
    var(--animation-reveal) 1s ease-out 0.5s forwards;
}

@media (min-width: 1200px) {
  .menuList {
    display: flex;
  }
  .menuList ul {
    padding: 0;
    display: flex;
    flex-direction: row;
  }

  .menuListActive {
    display: none;
  }
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }

  100% {
    transform: scaleY(1);
  }
}
