.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--main-color);
  padding: 20px 30px;
  position: fixed;
  width: 100%;
  top: 0;
  transition: all 0.1s ease-out;
  z-index: 100;
  border-bottom: var(--main-border);
}

.navbarScrolling {
  top: -11rem;
  transition: all 0.1s ease-in;
}

.brandTitle {
  justify-self: center;
  font-size: 2rem;
  cursor: pointer;
  opacity: 0;
  background-color: var(--secondary-color);
  padding: 2% 5%;
  box-shadow: var(--main-shadow);
  border: var(--main-border);
  animation: var(--animation-bounce) 1s ease-out forwards,
    var(--animation-reveal) 1s ease-out forwards;
}

.navIcon {
  display: flex;
  transform: scale(2);
  top: 2.5rem;
  background-color: white;
  border: var(--main-border);
  box-shadow: 1.5px 2px black;
}

@media (min-width: 768px) {
  .navbar {
    padding: 25px 50px;
  }

  .brandTitle {
    padding: 1% 3%;
  }
}

@media (min-width: 1200px) {
  .navbar {
    padding: 25px 90px;
  }

  .navIcon {
    display: none;
  }
}
