.projectsSection {
  background-color: var(--second-bg-color);
  position: relative;
  z-index: 1;
  padding: 5rem;
}

.listOfProjectsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  margin-top: 1rem;
  margin-bottom: 5rem;
  text-align: left;
  font-size: 5rem;
  padding: 0 20rem;
}

.project {
  margin-bottom: 5rem;
}
@media (max-width: 1055px) {
  .header {
    padding: 0;
  }
}

@media (max-width: 768px) {
  .header {
    margin-bottom: 3rem;
    font-size: 4rem;
  }
}

@media (max-width: 550px) {
  .header {
    font-size: 2rem;
  }
}
