.blogSection {
  margin-top: -5%;
  padding: 0 5%;
}

.blogsContainer {
  padding: 5% 20%;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
}

.blogsContainer h5 {
  border-bottom: 2px solid;
}

.gridCard {
  margin-top: 5%;
}

@media (max-width: 1200px) {
  .blogSection {
    margin-top: -10%;
  }

  .blogsContainer {
    padding: 5% 15%;
  }
}
