.blogSection {
  margin-top: -5%;
  padding: 0 5%;
  margin-bottom: 10%;
}

.blogsContainer {
  padding: 5% 20%;
  display: flex;
  flex-direction: column;
}

.blogsContainer h5 {
  border-bottom: 2px solid;
}

@media (max-width: 1200px) {
  .blogSection {
    margin-top: -10%;
  }

  .blogsContainer {
    padding: 5% 15%;
  }
}
