.mainButton {
  background-color: var(--main-color);
  color: var(--text);
  border-radius: 5px;
  border: 0;
  padding: 1rem;
  font-size: 2rem;
  font-weight: bold;
}

@media (hover: hover) {
  .mainButton {
    cursor: pointer;
  }
}
