.mainButton {
  background-color: var(--main-color);
  border: var(--main-border);
  box-shadow: var(--main-shadow);
  padding: 1rem;
  font-weight: bold;
  font-family: "Josefin Sans", sans-serif;
}

@media (hover: hover) {
  .mainButton {
    cursor: pointer;
  }
}
