.normalButton {
  background-color: var(--main-color);
  padding: 2% 5%;
  border: var(--main-border);
  box-shadow: var(--main-shadow);
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}
