.normalButton {
  background-color: var(--main-color);
  color: var(--text);
  border-radius: 5px;
  border: 0;
  padding: 2.5% 5%;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

@media (hover: hover) {
  .normalButton:hover {
    background-color: var(--main-color);
    transition: all 0.1s ease-out;
  }
}
