.blogMasthead {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../../../public/assets/images/blogMastHead.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
.blogMasthead p {
  margin-top: 4%;
  font-size: 2rem;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.loginButton {
  margin-top: 10%;
}

@media (max-width: 1200px) {
  .blogMasthead {
    background-image: linear-gradient(
        to bottom,
        rgba(168, 255, 120, 0.8),
        rgba(120, 255, 214, 0.5)
      ),
      url("../../../public/assets/images/blogMastHead.jpg");

    transition: all 0.3s ease-out;
  }
}
