.blogMasthead {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../../../public/assets/images/blogMastHead.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
  padding: 5%;
}

.blogText {
  padding: 7% 5%;
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--main-color);
  border: var(--main-border);
  box-shadow: var(--main-shadow);
  max-width: 768px;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 5%;
}

.loginButton {
  background-color: var(--secondary-color) !important;
}
