.unauthorizedContainer {
  display: flex;
  height: 100vh;
  background-color: var(--gradient);
  align-items: center;
  text-align: center;
  justify-content: center;
  color: white;
}

.testContainer {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 6%;
  padding: 5%;
}
