.container {
  padding: 5%;
  border: var(--main-border);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  flex: 1;
  font-size: 2rem;
}

.links {
  margin-top: 5%;
}

@media (min-width: 768px) {
  .container {
    flex: 2;
  }
}
