.contactSection {
  padding: 5%;
}

.contactFormContainer {
  background-color: var(--secondary-color);
  border: var(--main-border);
  box-shadow: var(--main-shadow);
}

@media (min-width: 768px) {
  .contactFormContainer {
    display: flex;
  }
}
