.contactSection {
  display: flex;
  position: relative;
  background-color: var(--pre-footer-bg);
  align-items: center;
  justify-content: center;
  padding: 2.5rem;
  color: var(--main-headline);
}

.contactSection h1 {
  margin-bottom: 3rem;
}

.aboutMe {
  padding: 5%;
}

.contactForm {
  padding: 5%;
}

.contactFormContainer {
  background-color: var(--main-bg-color);
  padding: 10% 20%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 1000px) {
  .contactFormContainer {
    grid-template-columns: 1fr;
    padding: 2.5% 5%;
  }
}
