.formContainer {
  display: grid;
  column-gap: 5%;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  row-gap: 2rem;
  align-items: center;
  justify-content: center;
}

.nameContainer input {
  width: 100%;
}

.emailContainer input {
  width: 100%;
}

.subjectContainer {
  grid-area: 2/1/3/3;
}

.subjectContainer input {
  width: 100%;
}

.messageContainer {
  grid-area: 3/1/4/3;
  display: grid;
}

.messageContainer label {
  margin-bottom: 1rem;
}

.messageContainer textarea {
  width: 100%;
  min-height: 10rem;
}

.submitButton {
  background-color: var(--secondary-color);
  color: var(--text);
  font-weight: bold;
  border-radius: 5px;
  border: 0;
  padding: 1rem 0;
  font-size: 1.5rem;
}

.inputArea {
  background-color: var(--secondary-color);
  border: none;
  border-radius: 5px;
  height: 3rem;
  font-family: "Raleway";
  font-size: 1.5rem;
  resize: none;
}

.inputArea:focus {
  outline: none;
}

@media (hover: hover) {
  .submitButton {
    cursor: pointer;
  }
}

@media (max-width: 768px) {
  .nameContainer {
    grid-area: 1/1/2/3;
    display: flex;
  }

  .nameContainer input {
    margin-left: 1rem;
    width: 100%;
  }

  .emailContainer {
    grid-area: 2/1/3/3;
    display: flex;
  }

  .emailContainer input {
    margin-left: 1rem;
    width: 100%;
  }

  .subjectContainer {
    grid-row: 3/4;
  }

  .messageContainer {
    grid-row: 4/5;
  }

  .submitButton {
    grid-row: 5/6;
  }
}
