.container {
  width: 100%;
  background-color: var(--main-color);
  padding: 5%;
  flex: 1;
  border: var(--main-border);
  position: relative;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.thanks {
  text-align: center;
  font-size: 3rem;
  margin: 30% 0;
}

.nameContainer,
.emailContainer,
.subjectContainer,
.messageContainer {
  width: 100%;
  border: var(--main-border);
  padding: 1%;
  box-shadow: var(--main-shadow);
}

.messageContainer textarea {
  min-height: 100px;
}

.inputArea {
  width: 100%;
  font-family: "Josefin Sans", sans-serif;
  padding: 1%;
  font-size: 1.75rem;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.submitButton {
  width: 100%;
  padding: 3%;
  font-family: "Josefin Sans", sans-serif;
  background-color: var(--secondary-color);
  border: var(--main-border);
  box-shadow: var(--main-shadow);
}
