.mastContainer {
  display: flex;
  min-height: 25vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: var(--secondary-color);
  margin: 6% 5%;
  border: var(--main-border);
  box-shadow: var(--main-shadow);
  overflow: hidden;
  padding: 5%;
}

.introContainer {
  display: flex;
  gap: 10px;
  align-items: center;
}

.introContainer h1 {
  padding: 5%;
  font-size: 2rem;
  line-height: 3rem;
}

.buttonContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: space-around;
}

.mainButton {
  transform: scale(0.9);
  transition: all 0.03s ease-in;
  animation: var(--animation-reveal) 0.5s ease-out;
}

.mainButton:active {
  transform: scale(0.8);
  transition: all 0.01s ease-in;
}

@media (hover: hover) {
  .mainButton:hover {
    background-color: var(--main-color);
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.3s ease-out;
  }
  .mainButton:active {
    transform: scale(0.8);
    transition: all 0.01s ease-in;
  }
}

@media (min-width: 600px) {
  .buttonContainer {
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .mastContainer {
    max-width: 768px;
  }
}

@media (min-width: 1200px) {
  .mastContainer {
    gap: 50px;
  }
}
