.textWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  color: var(--main-headline);
  font-size: 6rem;
  padding-left: 3rem;
  font-family: "ComicCat";
}

@media screen and (max-width: 769px) {
  .textWrapper {
    font-size: xx-large;
  }
}
